In [1]:
import numpy as np
import pandas as pd

In [6]:
# Q 1: Create a Pandas Series from a Python list and perform
# basic operations like filtering, sorting, etc.

data=[40,10,20,50,30,60,70]
series=pd.Series(data)
series_filtered=series[series>30]
series_sorted=series.sort_values()
print("Original Series:\n",series)
print("Filtered Series (values > 30):\n",series_filtered)
print("Sorted Series:\n",series_sorted)

Original Series:
 0    40
1    10
2    20
3    50
4    30
5    60
6    70
dtype: int64
Filtered Series (values > 30):
 0    40
3    50
5    60
6    70
dtype: int64
Sorted Series:
 1    10
2    20
4    30
0    40
3    50
5    60
6    70
dtype: int64

In [8]:
# Q 2: Read a CSV file into a Pandas DataFrame and perform
# basic data manipulation operations.
df=pd.read_csv("anime.csv")
print("First 5 rows of the Data Frame:\n",df.head())

First 5 rows of the Data Frame:
    Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  GintamaÂ°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [12]:
# Q 3: Create a Pandas DataFrame from a dictionary and
# perform filtering and grouping operations.
data={
    "Name":["Zain","Talha","Hanzalah","Shahwaiz","Moosa","Waqas","Umar"],
    "Age":[21,20,20,19,18,20,19],
    "City":["Kohat","Peshawar","Lahore","Tando","Sialkot","Karachi","Lahore"]
}
df=pd.DataFrame(data)
df

       Name  Age      City
0      Zain   21     Kohat
1     Talha   20  Peshawar
2  Hanzalah   20    Lahore
3  Shahwaiz   19     Tando
4     Moosa   18   Sialkot
5     Waqas   20   Karachi
6      Umar   19    Lahore